{% extends 'accounts/base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
    <div style="display:inline-block; margin-top:35vh;">
        <form method="post" action="{% url 'accounts:enter_email' %}">
            {% csrf_token %}
            
            <div class="form-group">
                {{form.user_email}}
            </div>

            <button type="submit" class="btn btn-primary">Send Invite Link</button>
        </form>
        <hr>
        <p class="text-muted">Already have an account? Login <a href="">here</a>.</p>
    </div>
{% endblock %}
