{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}
Sign Up
{% endblock %}

{% block content %}
{% include 'render_messages.html' %}
    <div class="container" id="enterEmailContent" style="display:inline-block;">
        <div id="enterEmailImage" class="container col-sm-4 float-right">
            <img onclick="githubLogin();" src="{% static 'portfolio/github.png' %}" class="img-fluid" style="width: 100px;">
            <a id="githubLogin" style="display: none;" href="{% url 'social:begin' 'github' %}"></a>
        </div>
        
        <div class="container col-sm-8 float-left" id="enterEmailForm">
            <form method="post" action="{% url 'accounts:enter_email' %}">
            {% csrf_token %}
            
            {% if form.user_email.errors %}
            <div class="container text-danger" style="margin-bottom: 15px;">
                {% for error in form.user_email.errors %}
                <small>{{error}}</small>
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="form-group">
                {{form.user_email}}
            </div>

            <button type="submit" class="btn btn-primary">Send Invite Link</button>
        </form>
        <br>

        <p class="text-muted" id="enterEmailText">Already have an account? Login <a href="{% url 'accounts:login' %}">here</a>.</p>
        </div>
        
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'accounts/js/enter_email.js' %}"></script>
{% endblock scripts %}