{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% include 'render_messages.html' %}
    <div id="loginContent" class="container">
        <div id="loginImage" class="container float-right">
            <img style="max-width: 100px;" onclick="githubLogin();" src="{% static 'portfolio/github.png' %}" class="img-fluid">
            <a id="githubLogin" style="display: none;" href="{% url 'social:begin' 'github' %}"></a>
        </div>
        
        <div class="container float-left" id="loginForm">
        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="username">Username</label>
                {{form.username}}
                
                {% for error in form.username.errors %}
                <small class="text-danger">{{error}}</small>
                {% endfor %}
                
                <small class="text-muted">{{form.username.help_text}}</small>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                {{form.password}}
                
                {% for error in form.password.errors %}
                <small class="text-danger">{{error}}</small>
                {% endfor %}
                
                <small class="text-muted">{{form.password.help_text}}</small>
            </div>
            
            <div style="margin-bottom: 15px;">
            {% for error in form.non_field_errors %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <hr>
        <p class="text-muted">Do not have account? Signup <a href="{% url 'accounts:enter_email' %}">here</a>.</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'accounts/js/enter_email.js' %}"></script>
{% endblock scripts %}
