{% extends 'accounts/base.html' %}

{% block title %}
Create Account
{% endblock %}

{% block content %}
<div style="display:inline-block; margin-top:10vh;">
    <form method="post" action="" style="text-align:left;margin:15px;">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="email">Email address:</label>
            {{form.email}}
        </div>
        
        <div class="form-group">
            <label for="username">Username:</label>
            {{form.username}}
        </div>
        
        <div class="row">
            <div class="form-group col-6">
                <label for="password1">Password:</label>
                {{form.password1}}
            </div>
            
            <div class="form-group col-6">
                <label for="password2">Confirm Password:</label>
                {{form.password2}}
            </div>
        </div>
    
        <p class="text-muted">{{form.password1.help_text}}</p>
        
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>

    <hr>
    <p class="text-muted">Already have an account? Login <a href="">here</a>.</p>
</div>
{% endblock %}