#aboutContent{
    width: 80%;
    text-align: left;
    display: inline-block;
    max-width: 700px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.25em;
}

#aboutHeading{
    font-size: 2.5em;
}

@media screen and (max-width: 500px) {
    #aboutContent{
        font-size: 1.5em;
        background: red;
    }

    #aboutHeading{
        font-size: 3em;
    }
}