<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: lightgray; font-size: 1.2em;">
    <div style="background: white; max-width: 750px; margin: auto; padding: 20px; border-radius: 20px;">
        <h1>Something Went Wrong!</h1>
        <p><strong>We've been notified</strong> about the issue and we are trying to fix it.</p>
        <p>Here are a few things you can try:</p>
        <ul>
            <li>Try to <a href="{% url 'accounts:logout' %}">logout</a> and login again.</li>
        <li>Try again in a few minutes.</li>
        </ul>
        <p>You can still contact us at: <a href="mailto:manthanchauhan913@gmail.com">manthanchauhan913@gmail.com</a>.</p>
    </div>
</body>
</html>