<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">    <link rel="stylesheet" href="{% static 'generic/css/about.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body style="background: #e6f7ff;">

{% include 'navbar.html' %}

<div style="text-align: center; margin-top: 15px;">
    <div id="aboutContent">
        <h1 id="aboutHeading"><strong>About Me</strong></h1>
        <p>My name is Manthan Chauhan, I'm a Web Developer and Competitive Programmer, and an occasional Technical Content Writer on Geeksforgeeks & Medium. At the moment, I'm a B.tech undergrad in Electronics & Communication at Indraprastha University, Delhi, and will be graduating this year (2020).</p>
        <p id="aboutPara2">I started my programming journey with Competitive Programming at Codechef.com, with C & C++. After that, I started developing small to medium level projects using Python. Primarily I'm a Backend Developer in Django, but I also have some experience in Frontend Development and DevOps.</p>
        <p>This <a href="#" class="aboutLinks">Online Portfolio Maker</a> is my biggest solo project by now, which has encouraged me to expand my skill set into various domains. In case you're having any issues, or have discovered any bug, I'd appreciate you to let me know about the same through the Feedback form.</p>
        <hr>
        <p class="sectionHeadings"><strong>Lets connect to exchange thoughts</strong></p>

        <div id="aboutSocial" class="card">
            <div class="card-body socialBody">
                <a href="https://www.linkedin.com/in/manthan-chauhan-83b1b4140/" target="_blank"><img class="socialIcons" src="{% static 'portfolio/linkedin.png' %}"></a>
                <a href="https://github.com/manthanchauhan" target="_blank"><img class="socialIcons img-fluid" src="{% static 'portfolio/github.png' %}"></a>
                <a href="mailto:manthanchauhan913@gmail.com"><img class="socialIcons img-fluid" src="{% static 'portfolio/gmail.png' %}"></a>
                <a href="https://medium.com/@manthanchauhan913" target="_blank"><img class="socialIcons img-fluid" src="{% static 'generic/medium.png' %}"></a>
                <a href="https://www.codechef.com/users/manthanchauhan" target="_blank"><img id="socialCodechef" class="socialIcons img-fluid" src="{% static 'portfolio/codechef.svg' %}"></a>
            </div>
        </div>
        
        <hr>
        <p class="sectionHeadings"><strong>Support the project</strong></p>
        <p>If you like this Online Portfolio Maker, I'd appreciate you to help me sustain it online. You can contact me via LinkedIn or Mail since currently I don't have any merchant accounts.
        <br><br><strong>Thank you!</strong></p>

        <br>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>