{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}
Edit | Portfolio
{% endblock %}

{% block content %}
<div style="text-align:center; width:100%;">
    <div class="container" style="background:#990000; width: 90%; display:inline-block; min-height:100vh;">

        <div id="name_and_pic" class="container" style="margin-top:13vh;">
          <div id="profile_pic" class="container col-lg-3 float-left">
            <img class="img-fluid" src="{% static 'portfolio/avatar.png' %}" alt="Avatar" style="border-radius:50%;width:160px;">
          </div>

          <div id="name_and_tag" class="container col-lg-9 float-right">
              <h1 id="name" contenteditable="true" style="color:white; font-family: 'Arimo', sans-serif;">Your Name Here</h1>
              <p id="tagline" contenteditable="true" class="h4" style="color:white;font-family: 'Poppins', sans-serif;">Web Developer & Competitive Programmer</p>
          </div>
        </div>

<!--        <div id="profiles" class="container">-->
<!--            <a href=""><img class="float-right img-thumbnail" style="margin:5px;height:50px;" src="{% static 'portfolio/github.png' %}"></a>-->
<!--            <a href=""><img class="float-right img-thumbnail" style="margin:5px;height:50px;" src="{% static 'portfolio/gmail.png' %}"></a>-->
<!--            <a href=""><img class="float-right img-thumbnail" style="margin:5px;height:50px;" src="{% static 'portfolio/linkedin.png' %}"></a>-->
<!--            <a href=""><img class="float-right img-thumbnail" style="margin:5px;height:50px;" src="{% static 'portfolio/codechef.svg' %}"></a>-->
<!--        </div>-->

<!--        <br>-->
<!--        <br>-->

        <div id="about" class="container" style="color:white;">​
            <h3>About Me</h3>
            <p contenteditable="true" class="text-lead">This is your Welcome Paragraph. It’s a great place to add concise, but enticing information about your website. The Welcome Section is the first text your readers encounter on your website so make it stand out. Keep it short, simple and powerful. Grab attention with a strong Welcome Title and engage your readers with some important details so they continue to browse your site.</p>
        </div>

        <!-- <br> -->
        <!-- <br> -->
<!--        <br>-->

        <div id="save_button" class="container">
            <button class="btn btn-success float-right" style="margin:5px;">Save</button>
<!--            <button class="btn btn-secondary" style="margin:5px;">Skills</button>-->
<!--            <button class="btn btn-secondary" style="margin:5px;">Work Samples</button>-->
<!--            <button class="btn btn-secondary" style="margin:5px;">Profiles & Contact</button>-->
        </div>
    </div>

    <div class="container" style="background:#f2f2f2; width: 90%; display:inline-block; min-height:100vh;">
        <h1 class="section_header" style="margin-top:70px;font-family: 'Poppins', sans-serif;">Projects & Work Samples</h1>
        <br>
        <div class="container project">
            <div class="card bg-dark project_card">
              <div class="card-header project_title" style="color:white;">
                <span class="float-left" contenteditable="true">Project Title</span>
              </div>

              <div class="card-body project_body">
                <div class="project_desc float-left col-lg-7" style="text-align:left;color:white;" contenteditable="true">
                  Here you can add a brief description of the project and organisation (in case of internships).<br><br>
                  * Use (*) to create bullet points.<br>
                  * Do not forget to mention the tasks you performed.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                </div>
                <div class="project_images float-right col-lg-5" style="text-align:center;">
                  <img class="img-fluid img-thumbnail"  src="{% static 'portfolio/project_sample_image.png' %}" alt="">
                </div>
              </div>

              <div class="card-footer project-footer" style="color:white; text-align:left;">
                <div class="container col-lg-8 float-left" style="padding:0px;">
                  <strong>Skills Used: </strong>
                  <span contenteditable="true">Django, HTML, CSS, Postgres</span>
                </div>

                <div class="project_links col-lg-4 float-right" style="text-align:right;">
                    <button class="btn btn-primary" type="button" name="button">Live Project</button>
                    <button class="btn btn-success" type="button" name="button">Code</button>
                </div>
              </div>
            </div>

        </div>

        <div class="container project">
            <div class="card bg-dark project_card">
              <div class="card-header project_title" style="color:white;">
                <span class="float-left" contenteditable="true">Project Title</span>
              </div>

              <div class="card-body project_body">
                <div class="project_desc float-left col-lg-7" style="text-align:left;color:white;" contenteditable="true">
                  Here you can add a brief description of the project and organisation (in case of internships).<br><br>
                  * Use (*) to create bullet points.<br>
                  * Do not forget to mention the tasks you performed.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                </div>
                <div class="project_images float-right col-lg-5" style="text-align:center;">
                  <img class="img-fluid img-thumbnail"  src="{% static 'portfolio/project_sample_image.png' %}" alt="">
                </div>
              </div>

              <div class="card-footer project-footer" style="color:white; text-align:left;">
                <div class="container col-lg-8 float-left" style="padding:0px;">
                  <strong>Skills Used: </strong>
                  <span contenteditable="true">Django, HTML, CSS, Postgres</span>
                </div>

                <div class="project_links col-lg-4 float-right" style="text-align:right;">
                    <button class="btn btn-primary" type="button" name="button">Live Project</button>
                    <button class="btn btn-success" type="button" name="button">Code</button>
                </div>
              </div>
            </div>
    </div>
</div>
{% endblock %}
