{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}
{{username}}'s Portfolio
{% endblock %}

{% block content %}

<div style="text-align:center; width:100%;">
    <div class="container" style="background:#990000; width: 90%; display:inline-block; min-height:100vh;">

        <div id="name_and_pic" class="container" style="margin-top:13vh;">
          <div id="profile_pic" class="container col-lg-3 float-left">
            <img id="profile_pic" class="img-fluid" src="{{profile_pic}}"
            alt="Profile Picture" style="border-radius:50%;width:160px;height:160px;">
          </div>

          <div id="name_and_tag" class="container col-lg-9 float-right">
              <h1 id="name" style="color:white; font-family: 'Arimo', sans-serif;">{{name}}</h1>
              <p id="tagline" class="h4" style="color:white;font-family: 'Poppins', sans-serif;">{{tag_line}}</p>
          </div>
        </div>

<!--        <div id="profiles" class="container">-->
<!--            <a href=""><img class="float-right img-thumbnail" style="margin:5px;height:50px;" src="{% static 'portfolio/github.png' %}"></a>-->
<!--            <a href=""><img class="float-right img-thumbnail" style="margin:5px;height:50px;" src="{% static 'portfolio/gmail.png' %}"></a>-->
<!--            <a href=""><img class="float-right img-thumbnail" style="margin:5px;height:50px;" src="{% static 'portfolio/linkedin.png' %}"></a>-->
<!--            <a href=""><img class="float-right img-thumbnail" style="margin:5px;height:50px;" src="{% static 'portfolio/codechef.svg' %}"></a>-->
<!--        </div>-->

<!--        <br>-->
<!--        <br>-->

        <div id="about" class="container" style="color:white;">​
            <h3>About Me</h3>
            <p id="about_me" class="text-lead">{{about}}</p>
        </div>

        <!-- <br> -->
        <!-- <br> -->
<!--        <br>-->

    </div>

    <div class="container" style="background:#f2f2f2; width: 90%; display:inline-block; min-height:100vh;">
        <h1 class="section_header" style="margin-top:70px;font-family: 'Poppins', sans-serif;">Projects & Work Samples</h1>
        <br>
        <div id="projectList">
          {% for project in projects %}
          <div class="container project" id="proj{{project.serial_no}}">
              <div class="card bg-dark project_card" proj_id="{{project.serial_no}}">
                <div class="card-header project_title" style="color:white;">
                  <span class="float-left" id="proj_title{{project.serial_no}}">{{project.title}}</span>
                </div>

                <div class="card-body project_body">
                  <div class="project_desc float-left col-lg-7" id="proj_desc{{project.serial_no}}" style="text-align:left;color:white;">{{project.description}}</div>
                  <div class="project_images float-right col-lg-5" style="text-align:center;">
                    <img class="img-fluid img-thumbnail project_image" id="project_thumb{{project.serial_no}}" src="{{project.image}}" alt="Project Thumbnail">
                  </div>
                </div>

                <div class="card-footer project-footer" style="color:white; text-align:left;">
                  <div class="container col-lg-7 float-left" style="padding:0px;">
                    <strong>Skills Used: </strong>
                    <span id="proj_skills{{project.serial_no}}">{{project.skills}}</span>
                  </div>

                  <div class="project_links col-lg-5 float-right" style="text-align:right;">
                    {% if project.live_link %}
                      <button class="btn btn-primary" onclick="window.open('{{project.live_link}}', '_blank');" type="button" name="button">Live Project</button>
                    {% endif %}
                    {% if project.code_link %}
                      <button class="btn btn-light" onclick="window.open('{{project.code_link}}', '_blank');" type="button" name="button">Code</button>
                    {% endif %}
                  </div>
                </div>
              </div>

          </div>
          {% endfor %}
        </div>

        <!-- <button type="button" id="end_modal_trigger" data-target="#myModal" data-toggle="modal" class="btn btn-success">End Session</button> -->


        <!-- <div class="container project">
            <div class="card bg-dark project_card" proj_id="1">
              <div class="card-header project_title" style="color:white;">
                <span class="float-left" contenteditable="true">Project Title</span>
              </div>

              <div class="card-body project_body">
                <div class="project_desc float-left col-lg-7" style="text-align:left;color:white;" contenteditable="true">
                  Here you can add a brief description of the project and organisation (in case of internships).<br><br>
                  * Use (*) to create bullet points.<br>
                  * Do not forget to mention the tasks you performed.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                  * bullet point.<br>
                </div>
                <div class="project_images float-right col-lg-5" style="text-align:center;">
                  <img class="img-fluid img-thumbnail project_image"  src="{% static 'portfolio/project_sample_image.png' %}" alt="">
                </div>
              </div>

              <div class="card-footer project-footer" style="color:white; text-align:left;">
                <div class="container col-lg-8 float-left" style="padding:0px;">
                  <strong>Skills Used: </strong>
                  <span contenteditable="true">Django, HTML, CSS, Postgres</span>
                </div>

                <div class="project_links col-lg-4 float-right" style="text-align:right;">
                    <button class="btn btn-success" type="button" name="button">Save</button>
                    <button class="btn btn-primary" type="button" name="button">Live Project</button>
                    <button class="btn btn-light" type="button" name="button">Code</button>
                </div>
              </div>
            </div>
        </div> -->
















</div>
{% endblock %}

{% block scripts %}
<!-- <script type="text/javascript" src="{% static 'portfolio/js/init-aws.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'portfolio/js/edit.js' %}"></script> -->
{% endblock %}
