.editable_{
  white-space: pre-line;
}

#profile_pic {
  margin: auto;
  padding: auto;
}

#name_and_tag {
  margin-left: auto;
  padding-left: auto;
}

.project_images {
  /* height: 50vw; */
  padding-top: 20px;
}

.project_desc {
  padding: 0px;
}

.project_links {
  margin-top: 10px;
  text-align: right;
}

.project{
  margin-bottom: 80px;
}

#about_me{
  padding: auto;
}

@media screen and (min-width: 992px) {
  #profile_pic {
    margin-right: 0;
    padding-right: 0;
  }

  #name_and_tag {
    margin-left: 0;
    padding-left: 0;
  }

  #about_me{
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .project_images {
    /* height: 20vw; */
    padding-top: 0px;
  }

  .project_desc {
    padding: auto;
  }

  .project_links{
    margin-top: 0px;
    text-align: right;
  }
}

#name {
  font-size: 7vw;
}

#about {
  margin-top: 14vh;
}

.section_header {
  font-size: 3vw;
}

.project_title {
  font-size: 2vw;
}

@media screen and (max-width: 1100px) {
  .section_header {
    font-size: 4vw;
  }

  .project_title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  #name {
    font-size: 11vw;
  }

  #about {
    margin-top: 7vh;
  }

  .section_header {
    font-size: 6vw;
  }

  .project_title {
    font-size: 5.5vw;
    padding: 10px;
  }

  .project_body {
    padding:10px;
  }

  .project {
    padding:0px;
    margin-bottom: 50px;
  }

  .project-footer {
    padding: 10px;
  }

  .project_links{
    padding: 0px;
    text-align: right;
  }
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.project_image {
  cursor: pointer;
}

.note-editor.note-frame .note-editing-area .note-editable { color: white; }

